body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt ; background-color: #ffffff}
p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}
a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}
a.navig {  color:blue}
a.order {  color:blue}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}
th.results {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #EFEFEF}
td.results {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #ffffff}
table.results { background-color: #D0DCE0}
div.break {page-break-before:always}
table.labels {  width: 21cm}
td.address {  height: 3.4cm; width: 10cm; text-align: left; vertical-align: top; margin-top: 10px; margin-left: 10px; font-size: 14px}
td.marginvert {  width: 0.5cm}
td.marginorizz {  height: 1.2cm}
.onlyscreen {display: none;}
.export_to_csv{
	display: none;
}
/* previous next links */
a.previous_next {
	color:blue;
	text-decoration: none;
}
/* change records per page combo box*/
.select_records_per_page{
}
/* the small arrow near the column head which represents currently the order by field */
.arrow {
	font-size: 8pt;
}